<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!-- Latest compiled and minified CSS -->
<!-- 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->


<!--  -->


<link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<!-- <link rel="stylesheet" href="css/style.css"> -->

<script src="/jquery/dist/jquery.min.js"></script>

<script src="/bootstrap/dist/js/bootstrap.min.js"></script>




    <title>speaker</title>

</head>

<body>
  <%- include("../head.ejs") %>

<br>
<br>

<div class="container "></div>


<table class="table table-striped table-success">
  <thead>
    <tr style="display:none">
      <th scope="col">the event id</th>
      <th scope="col"><%=_id%></th>
     
    </tr>
    <tr>
      <th scope="col">the event title</th>
      <th scope="col"><%=title%></th>
     
    </tr>

    <tr>
      <th scope="col">the event date:</th>
      <th scope="col"><%=date%></th>
     
    </tr>
<!--  -->
    <tr>
      <th>the main speaker</th>
      <th 
      scope="col"> 
      
    
        <%if(mainspeaker){ %>
      <ul>
        <h2>mainspeaker:</h2>
        <li>fullname:  <%=mainspeaker.fullname%></li>
        <li>age:  <%=mainspeaker.age%></li>
        <li>_id:  <%=mainspeaker._id%></li>
        <li>address city:: <%=mainspeaker.address.city%></li>
        
      </ul>
      <%}else{%>
        <li><address>not choosed pefore  plz edit and delet mainspeaker   </address></li>
        <%}%>
    </th>
     
    </tr>

    
    <tr>
      <th scope="col"> the other speaker :</th>


      <th scope="col">
        
     
        <% otherspeaker.forEach(element => { %>
          <pr>
       




         <ul>
          <h3>sup speaker:</h3>
          <li>fullname:  <%=element.fullname%></li>
          <li>age:  <%=element.age%></li>
          <li>_id:  <%=element._id%></li>
          <li>address city:: <%=element.address.city%></li>
          
        </ul>
      
        <% }) %>
      
      
      </th>
     
    </tr>
    
  </thead>
  
</table>
<br>
<br>


             

    
</body>
</html>


<!-- _id:Number,
fullname:String,
username:String,
age:{type:Number,min:15,max:80},


password:String,
 address:{
     city:String,
     street:String,
     building:String -->

