<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<!-- <link rel="stylesheet" href="css/style.css"> -->

<script src="/jquery/dist/jquery.min.js"></script>

<script src="/bootstrap/dist/js/bootstrap.min.js"></script>

    <title>speaker</title>
</head>

<body>
  <%- include("../head.ejs") %>

    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">title</th>
            <th scope="col">date</th>
            <th scope="col">mainspeaker</th>

            <th scope="col">sup-speaker</th>
            <th scope="col">add</th>
            <th scope="col">delete</th>
          </tr>
            
          <% events.forEach(element => { %>
            <!-- <p> <%=element%></p> -->

                <tr>
                    <td><%=element._id%></td>
                    <td> <a href="/event/profile?_id=<%=element._id%>"><%=element.title%></a> </td>
                    <td><%=element.date%></td>
                  
                    <td>
                      
                    
                   
                      <ul>
                        <h2>mainspeaker</h2>
                        <%if(element.mainspeaker){ %>
                        <li><address>fullname: <a href="/speaker/profile?_id=<%=element.mainspeaker._id%>"><%=element.mainspeaker.fullname%></a>  </address></li>
                       
                        <li><address>id: <%=element.mainspeaker._id%> </address></li>
                   
                       <li><address>age: <%=element.mainspeaker.age%> </address></li>
                       <%}else{%>
                        <li><address>not choosed pefore  plz edit and delet mainspeaker   </address></li>
                        <%}%>
                      </ul>

                      
                    
                    </td>

                    <td>
                      
                    <% element.otherspeaker.forEach(element => { %>
                      <ul>
                        <h3>sup speaker</h3>
                        <li><address>fullname: <a href="/speaker/profile?_id=<%=element._id%>"><%=element.fullname%></a></address></li>
                        <li><address>id: <%=element._id%> </address></li>
                        <li><address>age: <%=element.age%> </address></li>
                       
                      </ul>
                    <% }) %>
                   
                    

                      
                    
                    </td>

              
                    <td>
                      <a href="/event/update?_id=<%=element._id%>"> <button class="btn btn-success ">edit</button></a>
                     
                    </td>

                    <td>
                      <!-- <a href="/event/delete?_id=<%=element._id%>"> <button class="btn btn-danger ">delet</button></a> -->
                      <button onclick="deleteevent(<%=element._id%>,this)"  class="btn btn-danger ">delet</button>
                    </td>
                   

                </tr>

                       <%}); %> 
        </thead>
        <tbody>
     
        </tbody>
      </table>

      <script src="/js/list.js"></script>
  
</body>
</html>



     