<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<!-- <link rel="stylesheet" href="css/style.css"> -->

<script src="/jquery/dist/jquery.min.js"></script>

<script src="/bootstrap/dist/js/bootstrap.min.js"></script>

    <title>speaker</title>
</head>

<body>
  <%- include("../head.ejs") %>






    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">fullname</th>
            <th scope="col">username</th>
            <th scope="col">age</th>

            <th scope="col">address</th>
            <th scope="col">add</th>
            <th scope="col">delete</th>

          </tr>
            
          <% speakers.forEach(element => { %>
            <!-- <p> <%=element%></p> -->

                <tr>
                <td> <a href="/speaker/profile?_id=<%= element._id %>"> <%=element._id%></a></td>  
                <td> <a href="/speaker/profile?_id=<%= element._id %>"> <%=element.fullname%></a></td>  
                
                
                    <td><%=element.username%></td>
                    <td><%=element.age%></td>
                    <td>
                      
                    
                   
                      <ul>
                        <li><address>city: <%=element.address.city%> </address></li>
                        <li><address>adress: <%=element.address.street%> </address></li>
                        <li><address>building: <%=element.address.building%> </address></li>
                       
                      </ul>

                      
                    
                    </td>

              
                    <td>
                      <a href="/speaker/update?_id=<%=element._id%>"> <button class="btn btn-success ">edit</button></a>
                     
                    </td>

                    <td>
                      <button onclick="deletespeaker(<%=element._id%>,this)"  class="btn btn-danger ">delet</button>
                     
                    </td>
                   

                </tr>

                       <%}); %> 
        </thead>
        <tbody>
     
        </tbody>
      </table>


      <!-- <% speakers.forEach(element => { %>
        <p> <%=element%></p>
  <%}); %>  -->

  <script>

  </script>
  <script src="/js/list.js"></script>
  
</body>
</html>



     